@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "width" 100;
}

@font-face {
  font-family: pixel;
  src: url(../assets/fonts/Minecraft.ttf);
}
.pixel-font {
  font-family: pixel;
}

/* GLOBALS */
img {
  max-width: 100%;
  max-height: 100%;
}

a[href] {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: inherit;
}

a:current {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto";
  background-color: #f7f5f5;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
}

/* ZOOM */
.zoom {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.zoom .close {
  height: 50px;
  width: 50px;
  background-color: #000;
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.zoom .close div {
  transition: all 0.5s;
  height: 5px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zoom .close div:nth-child(1) {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.zoom .close div:nth-child(2) {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.zoom .close div:nth-child(3) {
  transform: translate(-50%, 0%);
  top: 0px;
  opacity: 0;
}
.zoom.is-closed {
  display: none;
}

img.zoom-click {
  z-index: 1;
  cursor: pointer;
}

.projects-grid, .project-presentation .image-grid {
  margin: auto;
  display: flex;
  flex-basis: auto;
  width: 100%;
  flex-wrap: wrap;
}
.projects-grid .item, .project-presentation .image-grid .item {
  position: relative;
  height: 300px;
  width: calc(100% - 20px);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 10px;
  background-color: #fff;
}
.projects-grid .item img, .project-presentation .image-grid .item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.projects-grid .item .caption, .project-presentation .image-grid .item .caption {
  transition: all 0.3s;
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6274509804);
  padding: 10px;
  font-family: "Roboto";
}
.projects-grid .item .caption .title, .project-presentation .image-grid .item .caption .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.projects-grid .item .caption p, .project-presentation .image-grid .item .caption p {
  padding: 0;
  margin: 0;
}
.projects-grid .item:hover .caption, .project-presentation .image-grid .item:hover .caption {
  opacity: 1;
}
@media (min-width: 800px) {
  .projects-grid .item, .project-presentation .image-grid .item {
    width: calc(50% - 20px);
  }
}

.project-presentation .cover {
  height: 400px;
  width: 100%;
  background-color: #fff;
}
.project-presentation .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-presentation header {
  font-family: pixel;
  margin-top: 50px;
}
.project-presentation header .title {
  font-size: 2.5em;
}
.project-presentation header .intro {
  font-size: 1.5em;
  color: gray;
}
.project-presentation .text {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: justify;
}
.project-presentation .big-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: calc(100% - 20px);
  background-color: #fff;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.project-presentation .image-grid {
  margin-top: 20px;
}

/* Site Layout */
.main-header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: pixel, sans-serif;
  position: sticky;
  top: 0px;
  z-index: 5;
}
.main-header .identity-container .identity-block .name {
  font-size: 2em;
}
.main-header .links-container a {
  margin-left: 10px;
}
.main-header .links-container a img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  object-position: center;
}
.main-header .navigation-container {
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  max-width: 300px;
  background-color: rgb(20, 20, 20);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: all;
  z-index: 9;
}
.main-header .navigation-container nav ul {
  margin-top: 80px;
  padding: 0px;
  display: block;
}
.main-header .navigation-container nav ul li {
  display: block;
}
.main-header .navigation-container nav ul li a {
  text-transform: lowercase;
  color: #fff;
  height: 40px;
  margin: 10px;
  padding: 10px;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .navigation-container nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-header .nav-mobile-toggle {
  height: 50px;
  width: 50px;
  background-color: #000;
  margin: 20px 0px;
  z-index: 10;
  position: relative;
  cursor: pointer;
}
.main-header .nav-mobile-toggle div {
  transition: all 0.5s;
  height: 5px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header .nav-mobile-toggle div:nth-child(1) {
  top: calc(50% - 10px);
}
.main-header .nav-mobile-toggle div:nth-child(3) {
  top: calc(50% + 10px);
}
.main-header .nav-mobile-toggle.close div {
  transition: all 0.5s;
  height: 5px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header .nav-mobile-toggle.close div:nth-child(1) {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.main-header .nav-mobile-toggle.close div:nth-child(2) {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.main-header .nav-mobile-toggle.close div:nth-child(3) {
  transform: translate(-50%, 0%);
  top: 0px;
  opacity: 0;
}

.main-content {
  padding: 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}

.presentation {
  display: flex;
}
.presentation .image {
  max-width: 40%;
  height: 100%;
  max-height: 400px;
  display: flex;
}
.presentation .image img {
  width: 100%;
  object-fit: contain;
  object-position: right;
}
.presentation .about-me {
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 20px;
  border-left: 2px solid black;
}
.presentation .about-me header {
  font-family: pixel;
}
.presentation .about-me header .name {
  font-size: 2em;
}
.presentation .about-me header .description, .presentation .about-me header .location {
  color: gray;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section .image {
  width: 100%;
  height: 400px;
}
.contact-section .image img {
  object-position: center;
  object-fit: contain;
  width: 100%;
}
.contact-section .center {
  padding: 0px 30px;
  max-width: 500px;
}
.contact-section .links a {
  display: block;
  background-color: #474747;
  color: #fff;
  font-family: pixel;
  margin-bottom: 5px;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 18px;
  }
  .links-container {
    display: none;
  }
  .presentation {
    flex-direction: column;
  }
  .presentation .image {
    max-width: 100%;
  }
  .presentation .about-me {
    padding-left: 0px;
    margin-top: 20px;
    margin-left: 0px;
    border-left: none;
    border-top: 3px solid black;
  }
  .main-header .navigation-container.closed {
    opacity: 0;
    transform: translateX(50px);
    pointer-events: none;
  }
}
@media screen and (max-width: 640px) {
  .identity-block {
    font-size: 12px;
  }
  .navigation-container {
    font-size: 14px;
  }
}
@media (min-width: 801px) {
  body {
    font-size: 18px;
  }
  .main-header .nav-mobile-toggle {
    display: none;
  }
  .main-header .navigation-container {
    display: block;
    position: static;
    background-color: transparent;
  }
  .main-header .navigation-container nav ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .main-header .navigation-container nav ul li {
    display: block;
  }
  .main-header .navigation-container nav ul li a {
    text-transform: lowercase;
    color: #fff;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
  }
  .contact-section {
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
