---
title: Dice Dreams
showHeader: false
tags: post
thumbnail: /assets/projects/dice_dreams/dice_dreams_thumb.jpg
layout: 'project-display.njk'
---
<div class="big-image">
	<img src="/assets/projects/dice_dreams/splash.jpg">
</div>

<div class="big-image">
	<img src="/assets/projects/dice_dreams/poses_dice_dreams.jpg">
</div>

<div class="big-image">
	<img src="/assets/projects/dice_dreams/thumbs_splash.jpg">
</div>