---
title: Personal Character Project
showHeader: false
tags: post
thumbnail: /assets/projects/personal_character_project/thumb_personal_caracter.jpg
layout: 'project-display.njk'
---
<div class="big-image">
	<img src="/assets/projects/personal_character_project/menino-a.jpg" alt="menino-a">
</div>

<div class="big-image">
	<img src="/assets/projects/personal_character_project/menino-b.jpg" alt="menino-a">
</div>

<div class="big-image">
	<img src="/assets/projects/personal_character_project/menina-a.jpg" alt="menino-a">
</div>

<div class="big-image">
	<img src="/assets/projects/personal_character_project/velha.jpg" alt="menino-a">
</div>

<div class="big-image">
	<img class="zoom-click" src="/assets/projects/personal_character_project/todos.jpg" alt="menino-a">
</div>
{# 
<section class="text">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit mollis risus at accumsan. Integer cursus nec quam gravida condimentum. In non auctor arcu. Aenean et erat gravida, pellentesque quam in, ornare nisi. Maecenas id sem eu elit cursus sodales. Aliquam elementum egestas ultricies. Aliquam ullamcorper tellus libero, sit amet mattis metus consectetur id. Ut sit amet bibendum est.
</section>

<div class="image-grid">
	<div class="item">
		<img class="zoom-click" src="/assets/projects/example-project/main-1.png" alt="">
	</div>

	<div class="item">
		<img class="zoom-click" src="/assets/projects/example-project/mainb-1.png" alt="">
	</div>

	<div class="item">
		<img class="zoom-click" src="/assets/projects/example-project/side-1.png" alt="">
	</div>
	<div class="item">
		<img class="zoom-click" src="/assets/projects/example-project/sideb-1.png" alt="">
	</div>
</div> #}
