<a href="{{ post.url }}" class="item">
    <img src="{{ post.data.thumbnail }}" alt="">
    <div class="caption">
        <div class="title">{{ post.data.title }}</div>
        <p>{{ post.data.description }}</p>
    </div>
</a>