@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

@font-face {
  font-family: pixel;
  src: url(../assets/fonts/Minecraft.ttf);
}

@font-face {
	font-family: finalfantasy;
	src: url(../assets/fonts/OPTIEngeEtienne.otf);
}

.pixel-font {
    font-family: pixel;
}

.final-fantasy-font {
	font-family: finalfantasy;
}

/* GLOBALS */

img {
    max-width: 100%;
    max-height: 100%;
}

a[href] {
    text-decoration: none;
	color: #000;
}

a:visited {
    color: inherit;
}

a:current {
	color: inherit;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto";
	background-color: #f7f5f5;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 800px;
}


/* ZOOM */

.zoom {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;

	.close {
		height: 50px;
		width: 50px;
		background-color: #000;
		z-index: 10;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;

		div {
			transition: all 0.5s;
			height: 5px;
			width: 30px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:nth-child(1) {
				transform: translate(-50%, -50%) rotateZ(45deg);
			}

			&:nth-child(2) {
				transform: translate(-50%, -50%) rotateZ(-45deg);
			}

			&:nth-child(3) {
				transform: translate(-50%, 0%);
				top: 0px;
				opacity: 0;
			}
		}
	}

	&.is-closed {
		display: none;
	}
}

img.zoom-click {
	z-index: 1;
	cursor: pointer;
}