---
title: Contact | Marcel Meira
layout: 'base.njk'
---
<section class="contact-section">
    <div class="left">
        <img src="/assets/site-01.png" alt="warrior-1">
    </div>
    <div class="center">
        <p>If you're interested in working togheter or 
        learning more about my work, don't hesitate to reach out. 
        These are the best ways to contact me:</p>
        <div class="links">
            <a href="mailto:eu@maruseru.com">
                <span>Email</span>
            </a>
            <a href="mailto:eu@maruseru.com">
                <span>Instagram</span>
            </a>
            <a href="mailto:eu@maruseru.com">
                <span>Artstation</span>
            </a>
        </div>
    </div>
    <div class="right">
        <img src="/assets/site-02.png" alt="girl-warrior-1">
    </div>
</section>