---
title: Projects | Marcel Meira
layout: 'base.njk'
---
<h2 class="pixel-font">Projects</h2>

<div class="projects-grid">
	<a href="/projects/something" class="item">
		<img src="/assets/projects/example-project/main-1.png" alt="">
		<div class="caption">
			<div class="title">Projeto</div>
			<p>Descrição</p>
		</div>
	</a>

	<a href="/projects/something" class="item">
		<img src="/assets/projects/example-project/mainb-1.png" alt="">
		<div class="caption">
			<div class="title">Projeto</div>
			<p>Descrição</p>
		</div>
	</a>

	<a href="/projects/something" class="item">
		<img src="/assets/projects/example-project/side-1.png" alt="">
		<div class="caption">
			<div class="title">Projeto</div>
			<p>Descrição</p>
		</div>
	</a>

	<a href="/projects/something" class="item">
		<img src="/assets/projects/example-project/sideb-1.png" alt="">
		<div class="caption">
			<div class="title">Projeto</div>
			<p>Descrição</p>
		</div>
	</a>
</div>