---
title: Projects | Marcel Meira
layout: 'base.njk'
---
<h2 class="pixel-font">Projects</h2>

<div class="projects-grid">
	{% for post in collections.post %}
		{% include 'project-item-fragment.njk'%}
	{% endfor %}
</div>